@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
* These styles were added to improve the appearance of the example pages.
* It is safe to delete them, and they are not intended to be used by Refine components.
*/
/* Ocultar scrollbar pero mantener funcionalidad */
.scrollbar-hide {
  -ms-overflow-style: none; /* Para Internet Explorer y Edge */
  scrollbar-width: none; /* Para Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Para Chrome, Safari y Opera */
}

:root {
  --color-hover-bg-light: rgba(0, 119, 255, 0.06);
  --color-hover-bg-dark: rgba(0, 119, 255, 0.3);
}

:root[data-theme="light"] {
  --text-color: #000000;
  --color-hover-bg: var(--color-hover-bg-light);
}

:root[data-theme="dark"] {
  --text-color: #080202;
  --color-hover-bg: var(--color-hover-bg-dark);
}

.checkbox-wrapper-4 .cbx:hover {
  background: var(--color-hover-bg);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

@keyframes slideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
    filter: blur(100%);
  }
  to {
    transform: translateY(0);
    opacity: 1;
    filter: blur(0%);
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
    filter: blur(100%);
  }
  to {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0%);
  }
}

@keyframes slideRight {
  from {
    transform: translateX(100%);
    opacity: 0;
    filter: blur(100%);
  }
  to {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0%);
  }
}

@keyframes slideOutLeft {
  from {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0%);
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
    filter: blur(100%);
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0%);
  }
  to {
    transform: translateX(100%);
    opacity: 0;
    filter: blur(100%);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px);
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(3px);
  }
  50% {
    transform: translateX(-3px);
  }
  75% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.slide-in {
  animation: slideIn 0.75s ease-in-out;
}

.slide-left {
  animation: slideLeft 0.75s ease-out;
}

.slide-right {
  animation: slideRight 0.75s ease-out;
}

.slide-out-left {
  animation: slideOutLeft 0.5s ease-in;
}

.slide-out-right {
  animation: slideOutRight 0.5s ease-in;
}

.filter-panel {
  position: sticky;
  top: 64px; /* Empieza justo debajo del navbar */
  transition: top 0.3s ease-in-out; /* Mueve suavemente el panel */
}

.order-card-container {
  @apply border rounded-xl overflow-hidden mb-4 border-default-200 bg-background shadow-md transition-all;
}

.order-card-content {
  @apply h-[450px] max-h-[450px] flex flex-col overflow-hidden;
}

/* Mejorar scroll para productos */
.order-card-content ::-webkit-scrollbar {
  @apply w-1.5;
}

.order-card-content ::-webkit-scrollbar-thumb {
  @apply bg-default-300 rounded-full;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
}
.animate-float {
  animation: float 3s ease-in-out infinite;
}

.background-pattern {
  background: url("data:image/svg+xml,%3Csvg width='100%' height='100%' viewBox='0 0 500 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cpattern id='waveGrid' patternUnits='userSpaceOnUse' width='40' height='40'%3E%3Cpath d='M 0 20 Q 10 40, 20 20 T 40 20' stroke='%23007BFF' stroke-width='1.5' fill='none'/%3E%3C/path%3E%3C/pattern%3E%3C/defs%3E%3Crect width='100%' height='100%' fill='url(%23waveGrid)'/%3E%3C/svg%3E");
  background-size: cover;
  opacity: 0.5;
}
