.swiper_container {
  position: relative;
}

.swiper_button_prev,
.swiper_button_next {
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 40px;
  height: 40px;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 10%;
  align-items: center;
  justify-content: center;
}

.swiper_button_prev {
  left: 10px;
}

.swiper_button_next {
  right: 10px;
}

.swiper-pagination {
  position: relative !important; /* Forzar posición relativa */
  bottom: 10px !important; /* Asegura que esté debajo */
  margin-top: 20px; /* Espacio entre el slider y la paginación */
  display: flex;
  justify-content: center; /* Centrar la paginación horizontalmente */
  z-index: 10; /* Asegura que no quede superpuesta */
}
